<%- include('partials/head') -%>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="to-left">
        <a href="/" class="brand"><%= title %></a>
      </div>
      <div class="to-right">
        <ul>
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <main class="mt-3">
    <h1>Homepage</h1>
  </main>
<%- include('partials/footer') -%>