<%- include('partials/head') -%>
  <nav class="bg-gray-700 w-100 relative">
    <div class="container py-4 flex justify-between w-100 items-center mx-auto">
      <div>
        <a href="/" class="text-white"><%= title %></a>
      </div>
      <div>
        <ul class="flex ...">
          <li class="px-2">
            <a href="/home" class="text-white">Home</a>
          </li>
          <li class="px-2">
            <a href="/about" class="text-white">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <main class="container mx-auto mt-5">
    <h1>Homepage</h1>
  </main>
<%- include('partials/footer') -%>