  <footer class="relative bg-gray-100 border border-gray-300 ml-64 p-4">
    &copy; wadahkode 2020 didesign dengan framework css <a href="https://tailwindcss.com/" class="text-blue-600">tailwindcss</a>
  </footer>
  <script src="https://cdn.tiny.cloud/1/nv93b6g9n5acna99jyko5n8qshvql728sanskolbzbdjqwel/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="../../../js/master.js"></script>
</body>
</html>