  <footer class="relative bg-gray-100 border border-gray-300 ml-64 p-4">
    &copy; wadahkode 2020 didesign dengan framework css <a href="https://tailwindcss.com/" class="text-blue-600">tailwindcss</a>
  </footer>
  <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
  <script src="../js/master.js"></script>
</body>
</html>