<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %><% if (description) { %> | <%= description %><% } %></title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
</head>
<body class="bg-gray-50">