<%- include('../partials/head') -%>
  <div class="container mx-auto lg:mt-24">
    <main class="grid grid-cols-3 gap-4">
      <div class="col-span-2">
        <h1>Pendaftaran gratis untuk selamanya</h1>
      </div>
      <div>
        <form class="bg-gray-100 border p-3 rounded" action="/admin/signup" method="post" accept-charset="utf-8">
          <div class="text-gray-400 focus-within:text-gray-600 ...">
            <input type="text" class="focus:ring-1 focus:ring-gray-100 focus:outline-none border border-gray-200 rounded bg-white py-2 px-3 w-full" name="username" placeholder="nama pengguna" required/>
          </div>
          <div class="text-gray-400 focus-within:text-gray-600 mt-2 ...">
            <input type="email" class="focus:ring-1 focus:ring-gray-100 focus:outline-none border border-gray-200 rounded bg-white py-2 px-3 w-full" name="email" placeholder="masukan email anda" required/>
          </div>
          <div class="text-gray-400 focus-within:text-gray-600 mt-2 ...">
            <input type="password" class="focus:ring-1 focus:ring-gray-100 focus:outline-none border border-gray-200 rounded bg-white py-2 px-3 w-full" name="password" placeholder="kata sandi" required/>
          </div>
          <div class="text-gray-400 focus-within:text-gray-600 mt-2 ...">
            <input type="password" class="focus:ring-1 focus:ring-gray-100 focus:outline-none border border-gray-200 rounded bg-white py-2 px-3 w-full" name="passwordVerify" placeholder="masukan ulang kata sandi" required/>
          </div>
          <div class="text-gray-400 focus-within:text-gray-600 mt-3 ...">
            <input type="checkbox" name="agreement"/> Anda setuju dengan syarat dan ketentuan yang berlaku.
          </div>
          <div class="text-white mt-3">
            <button type="submit" class="bg-blue-500 border border-transparent w-full rounded p-2">buat akun</button>
          </div>
          <div class="mt-5">
            <p>sudah punya akun? <a href="/admin" class="text-blue-600">masuk</a></p>
          </div>
        </form>
      </div>
    </main>
  </div>
<%- include('../partials/footer') -%>